In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

Bad key "text.kerning_factor" on line 4 in
/usr/local/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
train = pd.read_csv("./data/train.csv", header=None)
test = pd.read_csv("./data/test.csv", header=None)
train_labels = pd.read_csv("./data/trainLabels.csv", header=None)

print(train.shape)
print(test.shape)
print(train_labels.shape)

(1000, 40)
(9000, 40)
(1000, 1)

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   float64
 1   1       1000 non-null   float64
 2   2       1000 non-null   float64
 3   3       1000 non-null   float64
 4   4       1000 non-null   float64
 5   5       1000 non-null   float64
 6   6       1000 non-null   float64
 7   7       1000 non-null   float64
 8   8       1000 non-null   float64
 9   9       1000 non-null   float64
 10  10      1000 non-null   float64
 11  11      1000 non-null   float64
 12  12      1000 non-null   float64
 13  13      1000 non-null   float64
 14  14      1000 non-null   float64
 15  15      1000 non-null   float64
 16  16      1000 non-null   float64
 17  17      1000 non-null   float64
 18  18      1000 non-null   float64
 19  19      1000 non-null   float64
 20  20      1000 non-null   float64
 21  21      1000 non-null   float64
 22  22      1000 non-null   float64
 23  23      1000 non-null   float64
 24  24      1000 non-null   float64
 25  25      1000 non-null   float64
 26  26      1000 non-null   float64
 27  27      1000 non-null   float64
 28  28      1000 non-null   float64
 29  29      1000 non-null   float64
 30  30      1000 non-null   float64
 31  31      1000 non-null   float64
 32  32      1000 non-null   float64
 33  33      1000 non-null   float64
 34  34      1000 non-null   float64
 35  35      1000 non-null   float64
 36  36      1000 non-null   float64
 37  37      1000 non-null   float64
 38  38      1000 non-null   float64
 39  39      1000 non-null   float64
dtypes: float64(40)
memory usage: 312.6 KB

In [4]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [5]:
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier

X, y = train, np.ravel(train_labels)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [6]:
n_estimators = [10, 100, 200]
max_depth = [3, 5, 7]
min_sample_leaf = [2, 4, 6]

param_grid = dict(n_estimators=n_estimators, max_depth=max_depth, min_samples_leaf=min_sample_leaf)
clf = RandomForestClassifier()

grid_search = GridSearchCV(clf, param_grid, scoring="neg_mean_squared_error", n_jobs=-1, cv=5)

grid_result = grid_search.fit(X_train, y_train)

In [7]:
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: -0.143750 using {'max_depth': 7, 'min_samples_leaf': 4, 'n_estimators': 200}

In [8]:
pred = grid_result.predict(test)

In [9]:
pred

array([1, 0, 1, ..., 1, 0, 1])

In [10]:
Ids = np.arange(1,pred.shape[0]+1)
Ids

array([   1,    2,    3, ..., 8998, 8999, 9000])

In [11]:
submission = pd.DataFrame({'Id': Ids, 'Solution':pred})
submission.to_csv('./data/submission.csv', index=False)